In [1]:
# -*- coding: utf-8 -*-
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# EDA for the first time

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

# Iris dataset - Read the dataset from a file using Pandas

In [3]:
filename = "data/iris-data.csv"
df = pd.read_csv(filename, sep='\t')
df.head()

  sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0                        5.1,3.5,1.4,0.2,Iris-setosa
1                          4.9,3,1.4,0.2,Iris-setosa
2                        4.7,3.2,1.3,0.2,Iris-setosa
3                        4.6,3.1,1.5,0.2,Iris-setosa
4                          5,3.6,1.4,0.2,Iris-setosa

**Some problem?**

In [4]:
%%bash
 head data/iris-data.csv

Couldn't find program: 'bash'

In [5]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
df = pd.read_csv(filename, sep=',')
df.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

## Identifikovať problémy v dátach = Práca v rámci predspracovania

**The word `class` ... hm ... Reserved Keywords in Python?"**

In [6]:
df.class.unique()

SyntaxError: invalid syntax (<ipython-input-6-bf9413a47d9e>, line 1)

In [7]:
df['class'].unique()

array(['Iris-setosa', 'Iris-setossa', 'Iris-versicolor', 'versicolor',
       'Iris-virginica'], dtype=object)

**Rename the `class` column?**

In [8]:
df.rename(columns = {'class':'species'}, inplace = True)
df.species.unique()

array(['Iris-setosa', 'Iris-setossa', 'Iris-versicolor', 'versicolor',
       'Iris-virginica'], dtype=object)

**Strange values, which look like human mistakes? Rename them? This operation *rename* can be dangerous**

In [9]:
df['species'] = df['species'].str.replace('Iris-setossa','setosa')
df['species'] = df['species'].str.replace('Iris-setosa','setosa')
df['species'] = df['species'].str.replace('Iris-versicolor','versicolor')
df['species'] = df['species'].str.replace('Iris-virginica','virginica')

In [10]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

**Shorter column names?**

In [11]:
df = df.rename({'sepal_length_cm': 'sepal_length', 'sepal_width_cm': 'sepal_width', 'petal_length_cm': 'petal_length', 'petal_width_cm': 'petal_width'}, axis='columns')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          2.3  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df.groupby('species').size()

**Missing values? NaN values?**

In [ ]:
df.shape[0]

In [ ]:
df.dropna().shape[0]

In [ ]:
df.shape[0] - df.dropna().shape[0]

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

In [ ]:
df[df.isnull().any(axis=1)]

## Save the dataframe to a file ...

In [ ]:
df.to_csv('data/iris-data-output.tsv', sep='\t', index=False, encoding='utf-8')

# Visualization: Iris dataset

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stats

In [ ]:
iris = sns.load_dataset("iris")

### Opísať dáta spolu s ich charakteristikami = Deskriptívna štatistika

In [ ]:
iris.shape

In [ ]:
print(iris.head(10))

In [ ]:
iris.info()

In [ ]:
iris.describe()

In [ ]:
iris.species.unique()

In [ ]:
iris.groupby('species').size()

**Analýza jednotlivých atribútov - Univariate analysis** (Mean, Median, Modus, Variance, Standard Deviation)

In [ ]:
iris['petal_length'].mean()

In [7]:
iris['petal_length'].median()

NameError: name 'iris' is not defined

In [ ]:
stats.mode(iris['petal_length'])

In [ ]:
np.var(iris['petal_length'])

In [8]:
np.std(iris['petal_length'])

NameError: name 'iris' is not defined

### Formulovať a overiť hypotézy o dátach 	 = Vizualizácia dát + inferenčná štatistika

In [9]:
sns.boxplot(data=iris, x="sepal_length", y="species")

NameError: name 'iris' is not defined

In [ ]:
sns.boxplot(data=iris, x="petal_length", y="species")

In [ ]:
iris.plot(kind='box', subplots=True, layout=(2,2), sharex=False, sharey=False)

In [ ]:
iris.hist()

In [ ]:
sns.distplot(iris['petal_length'], bins=10)

In [ ]:
sns.distplot(iris['petal_width'], bins=10)

### Identifikovať vzťahy medzi atribútmi 	 = Závislosti napr. korelácie 
**Párová analýza - Bivariate analysis**

In [ ]:
sns.scatterplot(data=iris, x='petal_length', y='petal_width')

In [ ]:
sns.regplot(x="petal_length", y="petal_width", data=iris)

In [ ]:
print("Pearson correlation: %.3f" % iris.petal_length.corr(iris.petal_width))

In [ ]:
iris.corr()

In [ ]:
sns.pairplot(iris, hue="species")

In [ ]:
fig, ax = plt.subplots(figsize=(10,8))
sns.heatmap(iris.corr(), ax=ax, annot=True, fmt=".3f")

In [ ]:
sns.set(rc={'figure.figsize':(36,8)})
sns.violinplot(data=iris, x='sepal_length', y='sepal_width', hue="species")

### Identifikovať problémy v dátach = Práca v rámci  predspracovania
**Remove missing values?**

In [ ]:
iris.shape[0]

In [ ]:
iris.dropna().shape[0]

In [ ]:
iris.shape[0] - iris.dropna().shape[0]

**Empty rows?**

In [ ]:
iris.isnull()

In [ ]:
iris[iris.isnull().any(axis=1)]

# Visualization: Tips dataset

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as stats

In [ ]:
tips = sns.load_dataset("tips")
print(tips.shape)

**Your code:**