In [166]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
import glob

import scipy as sc
from pandas import read_csv

In [167]:
df_other_train = read_csv("data/other_train.csv")
df_personal_train = read_csv("data/personal_train.csv")

In [168]:
df_other_valid = read_csv("data/other_valid.csv")
df_personal_valid = read_csv("data/personal_valid.csv")

df_merged1 = pd.merge(df_personal_train, df_other_train, on=['name', 'address'])
df_merged2 = pd.merge(df_other_valid, df_personal_valid, on=['name', 'address'])

df_merged1 = df_merged1.rename(columns={'Unnamed: 0_x': 'index',})
df_merged1

,index,name,address,age,sex,date_of_birth,Unnamed: 0_y,race,marital-status,occupation,...,capital-gain,education,fnlwgt,class,income,medical_info,native-country,hours-per-week,capital-loss,workclass
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",58,Male,1961-04-27,717,White,Married-civ-spouse,Transport-moving,...,0.0,Assoc-voc,241259.0,0.0,<=50K,"{'mean_glucose':'132.9296875','std_glucose':'6...",United-States,40.0,0.0,Private
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",43,Female,1976-09-12,3106,Black,Divorced,Other-service,...,0.0,HS-grad,172232.0,0.0,<=50K,"{'mean_glucose':'103.1171875','std_glucose':'-...",United-States,30.0,0.0,Private
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",51,Male,1967-11-12,3601,White,Married-civ-spouse,Exec-managerial,...,0.0,Some-college,345705.0,0.0,<=50K,"{'mean_glucose':'125.5390625','std_glucose':'5...",United-States,40.0,0.0,Private
3,3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Male,1953-06-02,3209,Amer-Indian-Eskimo,Never-married,Handlers-cleaners,...,0.0,HS-grad,149297.0,0.0,<=50K,"{'mean_glucose':'136.0859375','std_glucose':'4...",United-States,30.0,0.0,Private
4,4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",45,Female,1974/09/11,1632,White,Never-married,Craft-repair,...,0.0,Some-college,253262.0,0.0,<=50K,"{'mean_glucose':'99.328125','std_glucose':'38....",United-States,40.0,0.0,Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,3928,Clair Pinkleton,"8582 Lee Roads\r\nCostaburgh, SC 21897",53,Female,1966-04-29,2554,White,Never-married,Adm-clerical,...,0.0,Bachelors,368739.0,0.0,<=50K,"{'mean_glucose':'161.4453125','std_glucose':'n...",United-States,40.0,0.0,Private
3979,3929,William Pope,68430 Erik Terrace Suite 279\r\nPort Adamborou...,81,Male,1938-10-24 00:00:00,2375,White,Never-married,Other-service,...,0.0,HS-grad,387430.0,1.0,<=50K,"{'mean_glucose':'114.1484375','std_glucose':'5...",United-States,18.0,0.0,private
3980,3930,Jared Kinsey,Unit 8416 Box 3801\r\nDPO AE 31166,46,Female,1973-02-23,2871,Black,Divorced,Adm-clerical,...,0.0,Bachelors,137304.0,0.0,<=50K,"{'mean_glucose':'128.734375','std_glucose':'57...",United-States,40.0,0.0,Private
3981,3931,Frederick Lawley,"34420 Brian Stream\r\nLake Michaeltown, MS 01832",46,Female,1973-08-09 00:00:00,3127,White,Never-married,Other-service,...,0.0,10th,65225.0,1.0,<=50K,"{'mean_glucose':'70.7421875','std_glucose':'44...",United-States,40.0,0.0,Private
3982,3932,Adalberto Daughters,Unit 7931 Box 0601\r\nDPO AE 50505,76,Male,1943-05-05,3165,White,Married-civ-spouse,Sales,...,0.0,HS-grad,119422.0,0.0,<=50K,"{'mean_glucose':'129.828125','std_glucose':'51...",United-States,40.0,0.0,Private

In [169]:
df_merged2 = df_merged2.rename(columns={'Unnamed: 0_x': 'index',})
df_merged2['index'] = df_merged2['index'] + df_merged1.shape[0]
df_merged2['index']

0       3983
1       3984
2       3985
3       3986
4       3987
        ...
1356    5338
1357    5339
1358    5341
1359    5342
1360    5343
Name: index, Length: 1361, dtype: int64

In [170]:
df_merged = df_merged1.merge(df_merged2, how='outer')

# df_merged = df_merged.rename(columns={'Unnamed: 0_x': 'index',})
# df_merged = df_merged.drop('Unnamed: 0_y', 1)
df_merged

,index,name,address,age,sex,date_of_birth,Unnamed: 0_y,race,marital-status,occupation,...,capital-gain,education,fnlwgt,class,income,medical_info,native-country,hours-per-week,capital-loss,workclass
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",58,Male,1961-04-27,717,White,Married-civ-spouse,Transport-moving,...,0.0,Assoc-voc,241259.0,0.0,<=50K,"{'mean_glucose':'132.9296875','std_glucose':'6...",United-States,40.0,0.0,Private
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",43,Female,1976-09-12,3106,Black,Divorced,Other-service,...,0.0,HS-grad,172232.0,0.0,<=50K,"{'mean_glucose':'103.1171875','std_glucose':'-...",United-States,30.0,0.0,Private
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",51,Male,1967-11-12,3601,White,Married-civ-spouse,Exec-managerial,...,0.0,Some-college,345705.0,0.0,<=50K,"{'mean_glucose':'125.5390625','std_glucose':'5...",United-States,40.0,0.0,Private
3,3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Male,1953-06-02,3209,Amer-Indian-Eskimo,Never-married,Handlers-cleaners,...,0.0,HS-grad,149297.0,0.0,<=50K,"{'mean_glucose':'136.0859375','std_glucose':'4...",United-States,30.0,0.0,Private
4,4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",45,Female,1974/09/11,1632,White,Never-married,Craft-repair,...,0.0,Some-college,253262.0,0.0,<=50K,"{'mean_glucose':'99.328125','std_glucose':'38....",United-States,40.0,0.0,Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5339,5338,Arturo Mckee,"64582 Mcgee Orchard\r\nBridgeschester, VT 81156",60,Male,1959-09-21,1101,White,Married-civ-spouse,Prof-specialty,...,0.0,Prof-school,132601.0,1.0,>50K,"{'mean_glucose':'28.1953125','std_glucose':'39...",United-States,40.0,0.0,Private
5340,5339,Bennie Jones,"9406 Desiree Rest\r\nSouth Laurafort, ME 72779",43,Male,76-09-04,57,White,Married-civ-spouse,Transport-moving,...,0.0,HS-grad,85434.0,0.0,<=50K,"{'mean_glucose':'110.0546875','std_glucose':'4...",United-States,40.0,0.0,Private
5341,5341,Bobby Hawk,"41416 Ellis Island\r\nEdgarchester, OR 73214",50,Male,1968-12-02,537,White,Married-civ-spouse,Prof-specialty,...,5178.0,Bachelors,174575.0,0.0,>50K,"{'mean_glucose':'159.078125','std_glucose':'39...",United-States,40.0,0.0,Local-gov
5342,5342,Wally Suggs,"624 Jeremiah Inlet Suite 082\r\nEast Jerome, H...",49,Female,1970-04-05,503,White,Divorced,Sales,...,0.0,HS-grad,148903.0,0.0,<=50K,"{'mean_glucose':'116.46875','std_glucose':'35....",United-States,40.0,0.0,private
5343,5343,Wallace Brooks,"222 Knight Loop\r\nPort Christina, NM 10958",75,Female,1944-03-24,361,Black,Never-married,Adm-clerical,...,0.0,Some-college,251854.0,1.0,<=50K,"{'mean_glucose':'58.9921875','std_glucose':'-3...",United-States,40.0,0.0,Local-gov

In [171]:
dir_in = 'data'
filenames = [i for i in glob.glob(dir_in + '/*')]
print(*filenames, sep='\n')

data\other_train.csv
data\other_valid.csv
data\personal_train.csv
data\personal_valid.csv

In [172]:
df_merged.set_index('index', inplace=True)
df_merged

,name,address,age,sex,date_of_birth,Unnamed: 0_y,race,marital-status,occupation,pregnant,...,capital-gain,education,fnlwgt,class,income,medical_info,native-country,hours-per-week,capital-loss,workclass
index,,,,,,,,,,,,,,,,,,,,,
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",58,Male,1961-04-27,717,White,Married-civ-spouse,Transport-moving,FALSE,...,0.0,Assoc-voc,241259.0,0.0,<=50K,"{'mean_glucose':'132.9296875','std_glucose':'6...",United-States,40.0,0.0,Private
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",43,Female,1976-09-12,3106,Black,Divorced,Other-service,f,...,0.0,HS-grad,172232.0,0.0,<=50K,"{'mean_glucose':'103.1171875','std_glucose':'-...",United-States,30.0,0.0,Private
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",51,Male,1967-11-12,3601,White,Married-civ-spouse,Exec-managerial,f,...,0.0,Some-college,345705.0,0.0,<=50K,"{'mean_glucose':'125.5390625','std_glucose':'5...",United-States,40.0,0.0,Private
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Male,1953-06-02,3209,Amer-Indian-Eskimo,Never-married,Handlers-cleaners,f,...,0.0,HS-grad,149297.0,0.0,<=50K,"{'mean_glucose':'136.0859375','std_glucose':'4...",United-States,30.0,0.0,Private
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",45,Female,1974/09/11,1632,White,Never-married,Craft-repair,f,...,0.0,Some-college,253262.0,0.0,<=50K,"{'mean_glucose':'99.328125','std_glucose':'38....",United-States,40.0,0.0,Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,Arturo Mckee,"64582 Mcgee Orchard\r\nBridgeschester, VT 81156",60,Male,1959-09-21,1101,White,Married-civ-spouse,Prof-specialty,f,...,0.0,Prof-school,132601.0,1.0,>50K,"{'mean_glucose':'28.1953125','std_glucose':'39...",United-States,40.0,0.0,Private
5339,Bennie Jones,"9406 Desiree Rest\r\nSouth Laurafort, ME 72779",43,Male,76-09-04,57,White,Married-civ-spouse,Transport-moving,FALSE,...,0.0,HS-grad,85434.0,0.0,<=50K,"{'mean_glucose':'110.0546875','std_glucose':'4...",United-States,40.0,0.0,Private
5341,Bobby Hawk,"41416 Ellis Island\r\nEdgarchester, OR 73214",50,Male,1968-12-02,537,White,Married-civ-spouse,Prof-specialty,f,...,5178.0,Bachelors,174575.0,0.0,>50K,"{'mean_glucose':'159.078125','std_glucose':'39...",United-States,40.0,0.0,Local-gov
5342,Wally Suggs,"624 Jeremiah Inlet Suite 082\r\nEast Jerome, H...",49,Female,1970-04-05,503,White,Divorced,Sales,f,...,0.0,HS-grad,148903.0,0.0,<=50K,"{'mean_glucose':'116.46875','std_glucose':'35....",United-States,40.0,0.0,private
5343,Wallace Brooks,"222 Knight Loop\r\nPort Christina, NM 10958",75,Female,1944-03-24,361,Black,Never-married,Adm-clerical,f,...,0.0,Some-college,251854.0,1.0,<=50K,"{'mean_glucose':'58.9921875','std_glucose':'-3...",United-States,40.0,0.0,Local-gov

In [173]:
df_merged['pregnant'].unique()

array(['FALSE', 'f', 'F', 't', 'TRUE', nan, 'T'], dtype=object)

In [174]:
def cleanse_some_values(data_frame, column, change_from, change_to):
    for i in range(len(change_from)):
        data_frame.loc[data_frame[column] == change_from[i], column] = change_to

In [175]:
cleanse_some_values(df_merged, 'pregnant', ["F", "FALSE"], "f")
cleanse_some_values(df_merged, 'pregnant', ["T", "TRUE"], "t")
# cleanse_some_values(df_merged, 'pregnant', "FALSE", "f")
# cleanse_some_values(df_merged, 'pregnant', "T", "t")
# cleanse_some_values(df_merged, 'pregnant', "TRUE", "t")

In [176]:
df_merged['marital-status'].unique()

array([' Married-civ-spouse', ' Divorced', ' Never-married', ' Separated',
       ' Married-spouse-absent', ' Widowed', nan, ' Married-AF-spouse'],
      dtype=object)

In [177]:
cleanse_some_values(df_merged, 'marital-status', [" Widowed", " Never-married", " Divorced"], "single")
cleanse_some_values(df_merged, 'marital-status', [" Married-civ-spouse", " Separated", " Married-AF-spouse", " Married-spouse-absent"], "married")

In [178]:
df_merged

,name,address,age,sex,date_of_birth,Unnamed: 0_y,race,marital-status,occupation,pregnant,...,capital-gain,education,fnlwgt,class,income,medical_info,native-country,hours-per-week,capital-loss,workclass
index,,,,,,,,,,,,,,,,,,,,,
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",58,Male,1961-04-27,717,White,married,Transport-moving,f,...,0.0,Assoc-voc,241259.0,0.0,<=50K,"{'mean_glucose':'132.9296875','std_glucose':'6...",United-States,40.0,0.0,Private
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",43,Female,1976-09-12,3106,Black,single,Other-service,f,...,0.0,HS-grad,172232.0,0.0,<=50K,"{'mean_glucose':'103.1171875','std_glucose':'-...",United-States,30.0,0.0,Private
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",51,Male,1967-11-12,3601,White,married,Exec-managerial,f,...,0.0,Some-college,345705.0,0.0,<=50K,"{'mean_glucose':'125.5390625','std_glucose':'5...",United-States,40.0,0.0,Private
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Male,1953-06-02,3209,Amer-Indian-Eskimo,single,Handlers-cleaners,f,...,0.0,HS-grad,149297.0,0.0,<=50K,"{'mean_glucose':'136.0859375','std_glucose':'4...",United-States,30.0,0.0,Private
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",45,Female,1974/09/11,1632,White,single,Craft-repair,f,...,0.0,Some-college,253262.0,0.0,<=50K,"{'mean_glucose':'99.328125','std_glucose':'38....",United-States,40.0,0.0,Private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,Arturo Mckee,"64582 Mcgee Orchard\r\nBridgeschester, VT 81156",60,Male,1959-09-21,1101,White,married,Prof-specialty,f,...,0.0,Prof-school,132601.0,1.0,>50K,"{'mean_glucose':'28.1953125','std_glucose':'39...",United-States,40.0,0.0,Private
5339,Bennie Jones,"9406 Desiree Rest\r\nSouth Laurafort, ME 72779",43,Male,76-09-04,57,White,married,Transport-moving,f,...,0.0,HS-grad,85434.0,0.0,<=50K,"{'mean_glucose':'110.0546875','std_glucose':'4...",United-States,40.0,0.0,Private
5341,Bobby Hawk,"41416 Ellis Island\r\nEdgarchester, OR 73214",50,Male,1968-12-02,537,White,married,Prof-specialty,f,...,5178.0,Bachelors,174575.0,0.0,>50K,"{'mean_glucose':'159.078125','std_glucose':'39...",United-States,40.0,0.0,Local-gov
5342,Wally Suggs,"624 Jeremiah Inlet Suite 082\r\nEast Jerome, H...",49,Female,1970-04-05,503,White,single,Sales,f,...,0.0,HS-grad,148903.0,0.0,<=50K,"{'mean_glucose':'116.46875','std_glucose':'35....",United-States,40.0,0.0,private
5343,Wallace Brooks,"222 Knight Loop\r\nPort Christina, NM 10958",75,Female,1944-03-24,361,Black,single,Adm-clerical,f,...,0.0,Some-college,251854.0,1.0,<=50K,"{'mean_glucose':'58.9921875','std_glucose':'-3...",United-States,40.0,0.0,Local-gov

In [179]:
df_merged['education'].unique()

array([' Assoc-voc', ' HS-grad', ' Some-college', ' Bachelors',
       ' 5th-6th', ' 12th', ' Prof-school', ' 9th', ' Masters',
       ' Assoc-acdm', ' 10th', ' 11th', ' Preschool', ' Doctorate',
       ' 1st-4th', ' 7th-8th', nan], dtype=object)

In [180]:
cleanse_some_values(df_merged, 'education', [" 1st-4th", " 5th-6th", " 7th-8th", " 9th", " 10th", " 11th", " 12th"], "Primary school")
cleanse_some_values(df_merged, 'education', [" Bachelors", " Masters", " Doctorate"], "College")
cleanse_some_values(df_merged, 'education', [" Assoc-voc", " HS-grad", " Prof-school", " Assoc-acdm", " Some-college"], "Highschool")
df_merged.loc[df_merged['education'] == " Preschool", 'education'] = "Preschool"

In [187]:
df_merged['workclass'].unique()

array(['private', 'government', 'self-emp', nan, 'not-working'],
      dtype=object)

In [186]:
cleanse_some_values(df_merged, 'workclass', [" Private"], "private")
cleanse_some_values(df_merged, 'workclass', [" Self-emp-not-inc", " Self-emp-inc", "self-emp-inc", "self-emp-not-inc"], "self-emp")
cleanse_some_values(df_merged, 'workclass', [" Never-worked", " Without-pay"], "not-working")
cleanse_some_values(df_merged, 'workclass', [" Local-gov", "local-gov", " State-gov", "state-gov", " Federal-gov", "federal-gov"], "government")
cleanse_some_values(df_merged, 'workclass', [" ?", "?"], np.nan)

In [188]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5344 entries, 0 to 5343
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            5344 non-null   object
 1   address         5344 non-null   object
 2   age             5344 non-null   int64
 3   sex             5344 non-null   object
 4   date_of_birth   5344 non-null   object
 5   Unnamed: 0_y    5344 non-null   int64
 6   race            4939 non-null   object
 7   marital-status  5318 non-null   object
 8   occupation      5305 non-null   object
 9   pregnant        5313 non-null   object
 10  education-num   5304 non-null   float64
 11  relationship    5295 non-null   object
 12  capital-gain    5311 non-null   float64
 13  education       5317 non-null   object
 14  fnlwgt          5317 non-null   float64
 15  class           5306 non-null   float64
 16  income          5313 non-null   object
 17  medical_info    5312 non-null   object
 18  native-country  5315 non-null   object
 19  hours-per-week  5314 non-null   float64
 20  capital-loss    5314 non-null   float64
 21  workclass       5002 non-null   object
dtypes: float64(6), int64(2), object(14)
memory usage: 960.2+ KB

In [194]:
medical_line = df_merged["medical_info"].str.replace(':', ',').str.replace("'", '').str.replace("{", '').str.replace("}", '')
medical_elements = medical_line.str.split(",", -1, expand = True)

diabetes_dataset = {}

for index in range(0, medical_elements.shape[1]):
    i = medical_elements[0][0]
    if(index % 2 == 0):
        diabetes_dataset[medical_elements[index][0]] = medical_elements[index + 1]
        
diabetes_dataset = pd.DataFrame(diabetes_dataset)
df_merged = pd.concat([df_merged, diabetes_dataset.reindex(df_merged.index)], axis = 1)
df_merged = df_merged.drop(columns = ['medical_info'])

In [195]:
df_merged

,name,address,age,sex,date_of_birth,Unnamed: 0_y,race,marital-status,occupation,pregnant,...,capital-loss,workclass,mean_glucose,std_glucose,kurtosis_glucose,skewness_glucose,mean_oxygen,std_oxygen,kurtosis_oxygen,skewness_oxygen
index,,,,,,,,,,,,,,,,,,,,,
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",58,Male,1961-04-27,717,White,married,Transport-moving,f,...,0.0,private,132.9296875,60.86770793,-0.436386591,-0.688680996,0.614548495,9.263483658,22.73564204,567.1601400000002
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",43,Female,1976-09-12,3106,Black,single,Other-service,f,...,0.0,private,103.1171875,-8305.388133,0.491894774,-1.424907291,106.8152174,69.22131491,0.481260314,-0.990714567
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",51,Male,1967-11-12,3601,White,married,Exec-managerial,f,...,0.0,private,125.5390625,54.15918412,0.143623857,-0.254128759,130.1187291,70.44556676,-0.628429484,-0.663865113
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Male,1953-06-02,3209,Amer-Indian-Eskimo,single,Handlers-cleaners,f,...,0.0,private,136.0859375,4868.248968999999,0.109994355,-0.148004689,20.7090301,52.72613936,2.394526578,4.347367271
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",45,Female,1974/09/11,1632,White,single,Craft-repair,f,...,0.0,private,99.328125,38.58981192,0.616291639,2.2593105330000003,1.601170569,15.77583241,11.32787187,139.6067179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5338,Arturo Mckee,"64582 Mcgee Orchard\r\nBridgeschester, VT 81156",60,Male,1959-09-21,1101,White,married,Prof-specialty,f,...,0.0,private,28.1953125,3921.376883,4.269629379,18.15426232,103.80602009999998,85.64720648,0.095444496,-1.3582479180000002
5339,Bennie Jones,"9406 Desiree Rest\r\nSouth Laurafort, ME 72779",43,Male,76-09-04,57,White,married,Transport-moving,f,...,0.0,private,110.0546875,45.56405323,0.379362611,0.13388036,1.261705686,13.03215364,13.29426709,202.9300608
5341,Bobby Hawk,"41416 Ellis Island\r\nEdgarchester, OR 73214",50,Male,1968-12-02,537,White,married,Prof-specialty,f,...,0.0,government,159.078125,39.41240473,-0.363834868,1.141354087,0.795986622,9.677674059,18.65277583,427.2568174
5342,Wally Suggs,"624 Jeremiah Inlet Suite 082\r\nEast Jerome, H...",49,Female,1970-04-05,503,White,single,Sales,f,...,0.0,private,116.46875,35.6322224,0.386351829,2.199301473,1.54180602,14.17310886,12.02291447,164.2964136
5343,Wallace Brooks,"222 Knight Loop\r\nPort Christina, NM 10958",75,Female,1944-03-24,361,Black,single,Adm-clerical,f,...,0.0,government,58.9921875,-3443.5967769999997,3.200231532,13.62129996,74.88963211,68.48991962,0.834444416,-0.033472377000000005